.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin: 0 10%;
}
.cabecalho h1{
    color: darkblue;
}
.cabecalho img{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}