.input-output{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1% 8%;
}
#input-texto{
    width: 20rem;
    height: 18rem;
    font-size: 20px;
    color:darkblue;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    text-transform: lowercase;
    font-weight: bolder;
}
.alert-minusculo{
    display: flex;
    margin-top: 0;
    
}
.input p{
    width: 128px;
    height: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.exclamacao{
    color: #495057;
    margin: 5%;
}
.output_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2%;
}
#output{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid darkblue;
    border-radius: 20px;
    width: 18rem;
    height: 20rem;
    margin-right: 3%;
    text-align: center;
    background: #fefefe;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
}
#output h2{
    text-align: center;
    font-size: 25px;
    color: darkblue;
}
#output span{
    font-size: 16px;
    text-align: center;
    margin: 3% 0;
}
#output img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-top: 4%;
}